<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.headshot.discountforme">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Main.Activities.ChangePassword.View.ChangePasswordActivity"></activity>
        <activity android:name=".Main.Activities.Profile.View.ProfileActivity" />
        <activity android:name=".Main.Activities.Complaints.View.ComplaintsActivity" />
        <activity android:name=".Main.Activities.Deals.View.DealsActivity" />
        <activity android:name=".Authentication.Login.View.LoginActivity" />
        <activity android:name=".Authentication.ForgetPasswordStepThree.ForgetPasswordStepThreeActivity" />
        <activity android:name=".Authentication.ForgetPasswordStepTwo.View.ForgetPasswordStepTwo" />
        <activity android:name=".Authentication.ForgetPasswordStepOne.View.ForgetPasswordStepOneActivity" />
        <activity android:name=".Authentication.Register.View.RegisterActivity" />
        <activity android:name=".Authentication.Login.View.LoginActivity" />
        <activity android:name=".SplashAndIntro.ChooseLanguage.View.ChooseLanguageActivity" />
        <activity android:name=".SplashAndIntro.Intro.View.IntroActivity" />
        <activity android:name=".Main.Activities.View.HomeActivity" />
        <activity android:name=".SplashAndIntro.Splash.View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>